.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 20rem;
  img {
    border-radius: 10px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}
