.preguntasFrecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 20rem;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}
