$fondo: linear-gradient(70deg, rgb(251, 222, 162), rgb(252, 204, 212));
$fondo-reverse: linear-gradient(70deg, rgb(252, 204, 212), rgb(251, 222, 162));
$fuente: "Roboto", sans-serif;
$borde: 5px solid white;
