body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(70deg, rgb(251, 222, 162), rgb(252, 204, 212));
  position: relative;
  padding-bottom: 7rem;
  min-height: 100vh;
}

/* Estilos del header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
}

.logo__header {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header__navbar a {
  text-decoration: none;
  color: black;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.header__navbar a:hover {
  -webkit-text-decoration: underline rgb(53, 53, 53);
          text-decoration: underline rgb(53, 53, 53);
  font-size: 2rem;
}

/* Estilos del main */
.contenido__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.contenido__main img {
  border-radius: 1rem;
  border: 1px solid black;
}

.contenido__main h2 {
  padding-top: 2rem;
  font-size: 3rem;
}

.contenido__main p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

/* Estilos del footer */
.pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pie h3 {
  font-size: 2rem;
}

.pie i {
  color: rgb(49, 49, 49);
  font-size: 2rem;
}

.f__iconos {
  padding-inline: 10rem;
}

/* --- @MEDIAS QUERIS :) 425 , 768 y 1024--- */
@media (max-width: 425px) {
  /* Estilos del header */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
  }
  .header__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__navbar a {
    font-size: 1rem;
  }
  /* Estilos del main */
  .contenido__main img {
    width: 20rem;
  }
  .contenido__main h2 {
    font-size: 2rem;
  }
  .contenido__main p {
    font-size: 1rem;
  }
  /* Estilos del footer */
  .pie {
    text-align: center;
  }
  .pie h3 {
    font-size: 1rem;
  }
  .pie i {
    font-size: 1rem;
  }
  /* Estilos de la tienda */
  .contenido__main__tienda {
    display: flex;
    flex-direction: column;
  }
  .menu__especiales {
    display: none;
  }
  .buscador {
    display: none;
  }
  .contenido__main {
    text-align: center;
  }
}
@media (max-width: 768px) {
  /* Estilos de la tienda */
  .contenido__main__tienda {
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 6rem;
  }
  .footer__tienda {
    font-size: 5px;
  }
  .comprar {
    font-size: 2rem;
  }
  .menu__especiales:hover {
    display: none;
  }
  /* Estilos del header */
  header {
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .logo__header {
    font-size: 1.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
}

/* Estilos de la tienda */
.contenido__main__tienda {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-template-rows: 30rem 30rem 30rem;
  grid-gap: 2rem;
  justify-content: center;
  padding-top: 1rem;
}

.footer__tienda {
  padding-top: 1rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.articulo img {
  width: 15rem;
  height: 20rem;
  border-radius: 1rem;
  border: 2px solid rgb(155, 132, 90);
}

.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.articulo p {
  font-size: 1.5rem;
}

.comprar {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.menu__especiales {
  text-decoration: none;
  color: black;
  padding-top: 0.5rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.menu__especiales:hover {
  font-size: 2rem;
}

.encabezado a {
  font-size: 1.5rem;
}
.encabezado div ul li a {
  font-size: 1.5rem;
}

.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  background-color: white;
}/*# sourceMappingURL=origen.css.map */